.header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header__links {
    background: var(--color-bg-white);
    padding: 0.5rem 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__links_logo {
    margin-right: 2rem;
    width: 95px;
    height: 18px;
}

.header__links_container {
    display: flex;
    align-items: center;
}


.header__links_container p {
    color: var(--color-textlight);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0 1rem;
    margin: 0 1rem;
}

.header__links_profile {
    display: flex;
    flex-direction: row;
    align-items: center;  
    padding: 0 1rem;
    margin: 0 1rem;
}

.header__links_profile p {
    padding: 0 0.5rem;
    margin: 0;
}


.header__vertical_line {
    padding: 0rem 0.5rem;
}

.header__links_researcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    margin: 0 1rem;
}
.header__links_researcher p {
    padding: 0 0.5rem;
    margin: 0;
}

/*
Tablet & Half-screen
*/
@media screen and (max-width: 935px) {
    .header__links_container p {
        
        font-size: 12px;
    }
}


@media screen and (max-width: 735px) {
    .header__links_container{
        padding: 0;
        margin: 0;
    }
    
    .header__links{
        padding: 0.5rem;
    }
    .header__links_logo {
        width: 60px;
        margin-right: 1rem;

    }
}

@media screen and (max-width: 661px) {

    .header__links{
        width:0%;
        flex-direction:column;

    }

    .header__links_logo {
        width: 0px;
        margin: 0;
        padding: 0;

    }
}

@media screen and (max-width: 589px) {
    .header__links_container{
        flex-direction: column;
        align-items: center;
    }



}