.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.breadcrumb p {
    padding-left: 1rem;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}
.breadcrumb_container {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.breadcrumb_subpage p {
    padding: 0 0;
}

@media screen and (max-width:450px) {
    .breadcrumb_origin   {
        display:none;
    }
}