.buttonDanger {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.8rem;

    background: transparent; 
    color: var(--color-danger);

    font-family: 'Lato';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    border-style: none;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
