.layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 84.5vh;
}

/*Half-screen*/
@media screen and (max-width: 680px) {
    .layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    }
}